img {width:3cm;height:3cm;}
table {width:80%;margin:auto;}
th#price {cursor:pointer;}
li {color:blue;}

/*EL19004, Leonardo Alfredo Efigenio Landaverde - Grupo de Trabajo #06*/
button{
    background-color: #aedb89; /* Green */
    color: rgb(15, 117, 180);
    padding: 30px 90px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
}

div.center {
    text-align: center;
  }

h1{
    color: rgb(29, 21, 5);
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(198, 255, 247);
}

span{
    font-weight: bold;
}

#datos{
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

table {
    border: 1px solid #000;
 }
 th, td {
    width: auto;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }

 #price{
    color: rgb(3, 189, 90);
    font-weight: bold;
    text-decoration: underline;
}

.agregar{
    border: solid 2px rgb(0, 101, 172);
    height: 270px;
    width: 500px;
    margin: 10px;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    margin: 0 auto;
}


/*si chequea muestra los productos sin cheque desaparecen los productos*/
input#c1:checked ~ table tbody tr.c1 { display: table-row; }
input#c1:not(checked) ~ table tbody tr.c1 { display: none; }
input#c2:checked ~ table tbody tr.c2 { display: table-row; }
input#c2:not(checked) ~ table tbody tr.c2 { display: none; }
input#c3:checked ~ table tbody tr.c3 { display: table-row; }
input#c3:not(checked) ~ table tbody tr.c3 { display: none; }
input#c4:checked ~ table tbody tr.c4 { display: table-row; }
input#c4:not(checked) ~ table tbody tr.c4 { display: none; }